In [8]:
import pandas as pd
import numpy as np

In [9]:
df_gdp = pd.read_csv('data/data.csv')
df_gdp.drop(columns=['drop'], inplace=True)

# replace everything that is not a number with NaN
df_gdp["year"].replace(r'[^\d.]+', np.nan, regex=True, inplace=True)
# drop NaN
df_gdp.dropna(inplace=True)
# turn year into int
df_gdp['year'] = df_gdp['year'].astype(int)
df_gdp['lifeExp'] = df_gdp['lifeExp'].astype(float)

In [10]:
df_gdp.describe()

              year           pop      lifeExp      gdpPercap
count  2268.000000  2.268000e+03  2268.000000    2268.000000
mean   1979.500000  3.086490e+07    59.130897    7057.924416
std      17.264069  1.165766e+08    13.069734    9387.284695
min    1952.000000  6.001100e+04    23.599000     298.846212
25%    1965.750000  2.837507e+06    47.902500    1172.603047
50%    1979.500000  6.927772e+06    60.123500    3465.637590
75%    1993.250000  1.701015e+07    70.810000    9232.871025
max    2007.000000  1.318683e+09    82.603000  113523.132900

In [11]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2268 entries, 0 to 2371
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    2268 non-null   object
 1   year       2268 non-null   int64
 2   pop        2268 non-null   float64
 3   continent  2268 non-null   object
 4   lifeExp    2268 non-null   float64
 5   gdpPercap  2268 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 124.0+ KB

In [12]:
print(f"year min: {df_gdp.year.min()} and year max: {df_gdp.year.max()}")

year min: 1952 and year max: 2007

In [13]:
print(f"lifeExp min: {df_gdp.lifeExp.min()} and lifeExp max: {df_gdp.lifeExp.max()}")

lifeExp min: 23.599 and lifeExp max: 82.603

In [14]:
print(df_gdp.continent.unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

In [15]:
print(len(df_gdp.country.unique()))

136

In [16]:
# show all countries with continent == "Oceania"
df_gdp[df_gdp.continent == "Oceania"]

          country  year         pop continent  lifeExp    gdpPercap
60      Australia  1952   8691212.0   Oceania   69.120  10039.59564
61      Australia  1957   9712569.0   Oceania   70.330  10949.64959
62      Australia  1962  10794968.0   Oceania   70.930  12217.22686
63      Australia  1967  11872264.0   Oceania   71.100  14526.12465
64      Australia  1972  13177000.0   Oceania   71.930  16788.62948
65      Australia  1977  14074100.0   Oceania   73.490  18334.19751
66      Australia  1982  15184200.0   Oceania   74.740  19477.00928
67      Australia  1987  16257249.0   Oceania   76.320  21888.88903
68      Australia  1992  17481977.0   Oceania   77.560  23424.76683
69      Australia  1997  18565243.0   Oceania   78.830  26997.93657
70      Australia  2002  19546792.0   Oceania   80.370  30687.75473
71      Australia  2007  20434176.0   Oceania   81.235  34435.36744
728     Australia  1952   8691212.0   Oceania   69.120  10039.59564
729     Australia  1957   9712569.0   Oceania   70.330  10949.64959
730     Australia  1962  10794968.0   Oceania   70.930  12217.22686
731     Australia  1967  11872264.0   Oceania   71.100  14526.12465
732     Australia  1972  13177000.0   Oceania   71.930  16788.62948
733     Australia  1977  14074100.0   Oceania   73.490  18334.19751
734     Australia  1982  15184200.0   Oceania   74.740  19477.00928
735     Australia  1987  16257249.0   Oceania   76.320  21888.88903
736     Australia  1992  17481977.0   Oceania   77.560  23424.76683
737     Australia  1997  18565243.0   Oceania   78.830  26997.93657
738     Australia  2002  19546792.0   Oceania   80.370  30687.75473
739     Australia  2007  20434176.0   Oceania   81.235  34435.36744
1760  New Zealand  1952   1994794.0   Oceania   69.390  10556.57566
1761  New Zealand  1957   2229407.0   Oceania   70.260  12247.39532
1762  New Zealand  1962   2488550.0   Oceania   71.240  13175.67800
1763  New Zealand  1967   2728150.0   Oceania   71.520  14463.91893
1764  New Zealand  1972   2929100.0   Oceania   71.890  16046.03728
1765  New Zealand  1977   3164900.0   Oceania   72.220  16233.71770
1766  New Zealand  1982   3210650.0   Oceania   73.840  17632.41040
1767  New Zealand  1987   3317166.0   Oceania   74.320  19007.19129
1768  New Zealand  1992   3437674.0   Oceania   76.330  18363.32494
1769  New Zealand  1997   3676187.0   Oceania   77.550  21050.41377
1770  New Zealand  2002   3908037.0   Oceania   79.110  23189.80135
1771  New Zealand  2007   4115771.0   Oceania   80.204  25185.00911

In [19]:
type(df_gdp.continent)

pandas.core.series.Series